[submodule "experiments/n1/site/roles/srl-ansible"]
	path = experiments/n1/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/n1/site/roles/ceph-ansible"]
	path = experiments/n1/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/baseliner"]
	path = experiments/baseliner
	url = https://github.com/michaelsevilla/ceph-popper-template.git
[submodule "experiments/nn/site/roles/srl-ansible"]
	path = experiments/nn/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/nn/site/roles/ceph-ansible"]
	path = experiments/nn/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/nn-cudele/site/roles/ceph-ansible"]
	path = experiments/nn-cudele/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible
[submodule "experiments/nn-cudele/site/roles/srl-ansible"]
	path = experiments/nn-cudele/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "paper/biblio"]
	path = paper/biblio
	url = https://github.com/michaelsevilla/biblio.git
[submodule "ansible/ceph"]
	path = ansible/ceph
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "ansible/srl"]
	path = ansible/srl
	url = https://github.com/systemslab/srl-roles.git
