[submodule "experiments/n1/site/roles/srl-ansible"]
	path = experiments/n1/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/n1/site/roles/ceph-ansible"]
	path = experiments/n1/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/baseliner"]
	path = experiments/baseliner
	url = https://github.com/michaelsevilla/ceph-popper-template.git
[submodule "experiments/nn/site/roles/srl-ansible"]
	path = experiments/nn/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/nn/site/roles/ceph-ansible"]
	path = experiments/nn/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/nn-cudele-macro/site/roles/ceph-ansible"]
	path = experiments/nn-cudele-macro/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/nn-cudele-macro/site/roles/srl-ansible"]
	path = experiments/nn-cudele-macro/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/nn-cudele-micro/site/roles/srl-ansible"]
	path = experiments/nn-cudele-micro/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/nn-cudele-micro/site/roles/ceph-ansible"]
	path = experiments/nn-cudele-micro/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
